body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px; 
  background-color: #222; 
}

.globe-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.globe {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate-globe 10s infinite linear; 
}

.globe-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  background-image: url('earth.png'); 
  background-size: cover;
  border-radius: 50%;
}

.label {
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 9px;
  font-weight: 800;
  transform-style: preserve-3d; 
}
.label:hover{
  color: aqua;
  transform: scale(1.5);
}

.north-america { top: 18%; left: 10%; }
.south-america { top: 48%; left: 5%; }
.europe { top: 10%; left: 55%; }
.africa { top: 30%; left: 55%; }
.asia { top: 15%; left: 75%; }
.australia { top: 75%; left: 80%; }

@keyframes rotate-globe {
  0% {
    transform: rotateY(0deg); 
  }
  100% {
    transform: rotateY(360deg); 
  }
}

