body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    align-items: center;
}

.love-button,
.share-button,
.comment-button {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    background: radial-gradient(circle, #ff7e5f, #feb47b);
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 35px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.love-button:hover,
.share-button:hover,
.comment-button:hover {
    transform: scale(1.2);
}

.love-button::before {
    content: "❤️";
    margin-right: 5px;
}

.share-button::before {
    content: "\1F4E9";
    margin-right: 5px;
}

.comment-button::before {
    content: "\1F4AC";
    margin-right: 5px;
}

