body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
}

.trail {
  width: 50px;
  height: 50px;
  background-color: rgba(52, 152, 219, 0.3);
  /* Semi-transparent trail */
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  animation: fadeOut 1s linear infinite;
  /* Trail fade-out animation */
}

.ball {
  width: 50px;
  height: 50px;
  background-color: #3498db;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-150px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-75px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.7;
    /* Starting opacity */
  }

  100% {
    opacity: 0;
    /* Fade out to fully transparent */
  }
}
