body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

.lantern {
    width: 50px;
    height: 100px;
    position: relative;
    animation: floating-lantern 10s ease-in-out infinite;
}

.lantern-body {
    width: 50px;
    height: 100px;
    background-color: #ffcc00;
    border-radius: 35px;
}

.lantern-flame {
    width: 30px;
    height: 30px;
    background-color: #ff8c00;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 10px;
    animation: flickering-flame 0.1s infinite alternate;
}

@keyframes floating-lantern {

    0%,
    100% {
        transform: translateY(0) rotateZ(0deg);
    }

    50% {
        transform: translateY(-50px) rotateZ(5deg);
    }
}

@keyframes flickering-flame {
    0% {
        opacity: 0.8;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


