body {
    background-color: #da8484;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .shimmering-text {
    font-size: 36px;
    color: #000000;
    position: relative;
    overflow: hidden;
  }
  
  .shimmering-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%,#da8484 25%, transparent 50%,#da8484 75%, transparent 100%);
    animation: shimmer 2s infinite linear;
  }
  
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  